
@{
    ViewData["Title"] = "blog";
    Layout = "~/Views/Shared/_master.cshtml";
}
<h1>blogblogblogblogblogblogblogblogblog</h1>
<h2>blogblogblogblogblogblogblogblogblog</h2>
<h3>blogblogblogblogblogblogblogblogblog</h3>
