
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<h1>IndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndex</h1>
<h2>IndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndex</h2>
<h3>IndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndexIndex</h3>